<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="./login.css" />

</head>
<body>
        <div class="login-wrapper">
            <h2>TO.FU</h2>
            <form method="post" action="서버의url" id="login-form">
                <input type="text" name="user_id" placeholder="아이디 또는 이메일">
                <input type="password" name="user_pw" placeholder="비밀번호 입력">
                <a href="#"> 회원가입</a>
                <input type="submit" value="Login">
            </form>
        </div>
        <script src="./login.js"></script>
</body>
</html>