<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.together.furture.mapper.comment_mapper">
	<insert 
		id="comment_send"
		parameterType="com.together.furture.entity.comment_insert"	
	>
		insert into comment_info(feed_idx ,user_id, cmt_content) 
		values(#{feed_idx} ,#{user_id}, #{cmt_content});
	</insert>
	
	<select 
		id="comment_show"
		resultType="com.together.furture.entity.comment_insert"
	>
		select 
			c.cmt_content as cmt_content,
			c.user_id as user_id,
			c.feed_idx as feed_idx,
			u.user_nick as user_nick
		from comment_info c
		left join user_info u on c.user_id = u.user_id
		order by c.created_at DESC;
	</select>
</mapper>