<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.together.furture.mapper.feed_info_mapper">

<insert id="insertfeed" parameterType="com.together.furture.entity.insert_feed">
	INSERT INTO feed_info (feed_title, feed_content, feed_file, hash_tag, user_id)
	VALUES (#{feed_title}, #{feed_content}, #{feed_file}, #{hash_tag}, #{user_id})
</insert>
<select id="getFeedList" resultType="com.together.furture.entity.insert_feed">
	SELECT 
		f.feed_title,
		f.feed_content,
		f.feed_file,
		f.hash_tag,
		f.user_id,
		f.feed_idx,
		u.user_nick,
		u.user_profile
	FROM feed_info f
	LEFT JOIN user_info u ON f.user_id = u.user_id
	ORDER BY f.feed_idx DESC
</select>

<delete id="deletepost" parameterType="int">
    delete from feed_info where feed_idx=#{feed_idx}
</delete>

<!-- 특정 게시물 조회 -->
   <!--  <select id="getFeedById" parameterType="int" resultType="com.together.furture.entity.insert_feed">
        SELECT 
            f.feed_title,
            f.feed_content,
            f.feed_file,
            f.hash_tag,
            f.user_id,
            f.feed_idx,
            u.user_nick,
            u.user_profile
        FROM feed_info f
        LEFT JOIN user_info u ON f.user_id = u.user_id
        WHERE f.feed_idx = #{feed_idx}
    </select>

    게시물 수정
    <update id="updateFeed" parameterType="com.together.furture.entity.insert_feed">
        UPDATE feed_info
        SET 
            feed_title = #{feed_title},
            feed_content = #{feed_content},
            feed_file = #{feed_file},
            hash_tag = #{hash_tag}
            user_id = #{user_id}
        WHERE feed_idx = #{feed_idx}
    </update> -->
</mapper>