body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #f8f8f8;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

#back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000; /* 검은색 화살표 */
    margin-right: 10px;
}

#chat-title {
    margin: 0;
    font-size: 18px;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.user {
    align-self: flex-end;
    background-color: #000000;
    color: #fff;
}

.message.other {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: #000;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 15px;
    background-color: #020202;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #4b4b4b;
}